.loginWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 6rem auto 0;
}

.blueWall {
    display: none;
}

@media screen and (min-width : 780px) {

    .loginWrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        margin: 2rem auto 0;
    }
    .blueWall {
        display: block;
        background-color: var(--color-primary-light);
        width: 50%;
        height: 560px;
        border-radius: 15px;
        transition: .2s;
    }
}

@media screen and (min-width : 1024px) {
    .loginWrapper {
        width: 60%;;
    }
}