.cart {
    width: 250px;
    height: 330px;
    border: 0;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    padding: 10px 0;
    margin: 1.7rem .7rem;
    background-color: white;
    transition: .2s;
    font-size: 20px;
    box-sizing: border-box;

}

.cart h2 {
    color: var(--color-secondary);
    font-weight: 600;
}

.image {
    margin: 5px;
    
}

.image img {
    width: 170px;
    height: 150px;
}

.addItem {
    border: 0;
    background-color: var(--color-secondary);
    color : white ;
    width: 220px;
    height: 35px;
    transition: .2s;
    cursor: pointer;
    font-family: 'Baloo 2', cursive;
    font-size: 15px;
    font-weight: 600;
}

.addItem:hover {
    background-color: var(--color-secondary-light);
}

.price {
    color: var(--color-secondary);
    text-align: center;
    width: 220px;
    background-color: var(--color-gray-light);
    padding: 10px 0;
    font-size: 16px;
    
}

.items {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    display: flex;
    border: 0;
    padding: 5px 10px;
    color : white ;
    background-color: var(--color-secondary);
    transition: .2s;
    cursor: pointer;
    text-align: center;
	font-family: 'Baloo 2', cursive;
}

.btn span {
    font-weight: 600;
}

.btn:hover {
    background-color: var(--color-secondary-light);
}

.quantityCount {
    display: inline-block;
    width: 30px;
    text-align: center;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 700,
  'GRAD' 0,
  'opsz' 68;
}