.cart {
    height: 370px;
    box-sizing: border-box;
    border: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0;
    margin: 2rem 1rem;
    transition: .2s;
    font-size: 20px;
    /* box-sizing: border-box; */
    border-radius: 20px;
    position: relative;
}

.cartTitel {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: .9rem 0 .5rem 0;
}

.cart h2 {
    color: var(--color-gray-dark);
    font-weight: 600;
    width: 90%;
    text-align: left;
    font-size: 17px;
}

.cartFavorite {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    background-color: white;
    border: 3px solid var(--color-gray-light);
    border-bottom: 0;
    border-radius: 30px;
}

.image div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image div img {
    width: 150px;
    height: auto;
}

.items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin-bottom: .5rem;
    height: 2rem;
}

.cartButtons {
    display: flex;
    width: 40%;
    align-items: center;
    justify-content: space-between;
    transition: .2s;
}

.addItem {
    border: 0;
    background-color: var(--color-primary-light);
    color: white;
    border: 2px solid var(--color-primary-light);
    border-radius: 20px;
    padding: .3rem .8rem;
    transition: .2s;
    cursor: pointer;
    font-family: 'Noto Sans Oriya', sans-serif;
    font-size: 12px;
    font-weight: 600;
}

.addItem:hover {
    color: white;
    border: 2px solid var(--color-primary);
    background-color: var(--color-primary);
}

.price {
    color: var(--color-gray-dark);
    text-align: right;
    width: 90%;
    font-size: 20px;
    font-weight: 700;
}

.cartDetails {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: space-between;
    height: 2rem;
}

.cartDetails p{
    font-weight: 500;
    color: var(--color-gray);
    font-size: 12px;
}

.cartLink{
    font-weight: 500;
    text-decoration: none;
    color: var(--color-primary-light);
    opacity: .85;
    font-size: 14px;
}

.btn {
    display: flex;
    border: 0;
    transition: .2s;
    cursor: pointer;
    text-align: center;
    font-family: 'Baloo 2', cursive;
}

.quantityCount {
    font-weight: 500;
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-primary-light);
    color: white;
    border-radius: 8px;
    text-align: center;
    font-size: 14px;
}

@media screen and (min-width : 1024px) {
    .image {
        width: 280px;
        height: 280px;
    }

    .image div img {
        width: 120px;
        height: auto;
    }
}