.cart {
    height: 370px;
    border: 0;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    padding: 0px 0;
    margin: 2rem 1rem;
    transition: .2s;
    font-size: 20px;
    /* box-sizing: border-box; */
    border-radius: 20px;
    position: relative;
}

.cartTitel {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: .3rem 0 ;
}

.cart h2 {
    color: var(--color-gray-dark);
    font-weight: 500;
    width: 90%;
    text-align: left;
    font-size: 17px;
}

.cartFavorite{
    position: absolute;
    top:20px;
    right: 20px;
    cursor: pointer;
}

.image img {
    width: 150px;
    height: 150px;
    padding: 4rem;
    /* box-sizing: border-box; */
    border: 3px solid var(--color-gray-light);
    border-bottom: 0;
    border-radius: 30px ;
    background-color: var(--color-white);
    align-content: center;
}

.items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin-bottom: .5rem;
    height: 2rem;
}

.cartButtons{
    display: flex;
    width: 40%;
    align-items: center;
    justify-content: space-between;
    transition: .2s;
}

.addItem {
    border: 0;
    background-color: var(--color-secondary-light);
    color : var(--color-white) ;
    border: 2px solid var(--color-secondary-light);
    border-radius: 20px;
    padding: .3rem .8rem;
    transition: .2s;
    cursor: pointer;
    font-family: 'Noto Sans Oriya', sans-serif;
    font-size: 12px;
    font-weight: 600;
}

.addItem:hover {
    color: var(--color-white);
    border: 2px solid var(--color-secondary);
    background-color: var(--color-secondary);
}

.price {
    color: var(--color-gray-dark);
    text-align: right;
    width: 90%;
    font-size: 20px;
    font-weight: 700;
}

.cartDetails{
    font-size: 12px;
    font-weight: 500;
    color: var(--color-gray);
}

.btn {
    display: flex;
    border: 0;
    transition: .2s;
    cursor: pointer;
    text-align: center;
	font-family: 'Baloo 2', cursive;
}

.quantityCount {
    display: inline-block;
    width: 30px;
    font-weight: 500;
    text-align: center;
    color: var(--color-secondary);
}