.detailBlock {
    margin: 2rem 1.5rem 8rem;
    display: flex;
    flex-direction: column;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: white;
    margin-bottom: 1.5rem;

}

.image img {
    width: 250px;
    height: auto;
    margin: 30px;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: center; */
    margin-bottom: 1.5rem;
}

.title h2 {
    width: 60%;
    line-height: 22px;
    font-size: 18px;
    font-weight: 500;
    margin-right: 1rem;
}

.title p {
    font-size: 20px;
    font-weight: 600;
    background-color: var(--color-primary);
    color: white;
    padding: .5rem;
    border-radius: 10px;
    height: fit-content;


}

.description {
    color: var(--color-gray);
    line-height: 22px;
    font-size: 14px;
}

.addToCart {
    background-color: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 120px 70px 93px;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.items {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 9.2rem
}

.cartButtons {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    transition: .2s;
}

.addItem {
    border: 0;
    background-color: var(--color-primary);
    color: white;
    border-radius: 20px;
    padding: .5rem 1rem;
    transition: .2s;
    cursor: pointer;
    font-family: 'Noto Sans Oriya', sans-serif;
    font-size: 20px;
    font-weight: 600;
}

.addItem:hover {
    color: white;
    background-color: var(--color-primary-dark);
}

.btn {
    display: flex;
    border: 0;
    transition: .2s;
    cursor: pointer;
    text-align: center;
    font-family: 'Baloo 2', cursive;
    background-color: white;
}

.btn img {
    width: 35px;
}

.quantityCount {
    font-weight: 500;
    width: 2.3rem;
    height: 2.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-primary-light);
    color: white;
    border-radius: 8px;
    text-align: center;
    font-size: 22px;
}

.loading {
    width: 5rem;
    height: 5rem;
    display: block;
    border: 3px solid var(--color-primary-light);
    border-bottom-color: var(--color-gray-dark);
    border-radius: 50%;
    box-sizing: border-box;
    animation: loading 1s linear infinite;
    margin: 8rem auto;
}

@keyframes loading {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media screen and (min-width : 1024px) {
    .image {
        margin-right: 1.5rem;

    }

    .image img {
        width: 380px;
        height: auto;
        padding: 1rem;
    }

    .detailBlock {
        flex-direction: row;
        margin: 5rem 6rem;
    }

    .addToCart {
        display: block;
        background-color: unset;
        border-radius: unset;
        box-shadow: unset;
        position: relative;
        bottom: unset;
        right: unset;
        width: 100%;
        height: unset;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-top: 1rem;
    }

    .items {
    justify-content: space-between;
    width: 8rem;
    }

    .addItem {
        font-size: 16px;
        padding: .3rem .8rem;

    }

    .btn {
        background-color: unset;
    }

    .btn img {
        width: 30px;
    }

    .quantityCount {
        font-size: 16px;
        width: 1.8rem;
        height: 1.8rem;
    }
}

@media screen and (min-width : 1280px) {
    .detailBlock {
        margin: 5rem auto;
        max-width: 1200px;
    }
}