.mainWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    max-width: 1300px;
    margin: 0 auto;
}

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 1rem auto;
    z-index: 1;
    position: relative;
    height: auto;
    transition: .2s;
}

.loading {
    width: 5rem;
    height: 5rem;
    display: block;
    border: 3px solid var(--color-primary-light);
    border-bottom-color: var(--color-gray-dark);
    border-radius: 50%;
    box-sizing: border-box;
    animation: loading 1s linear infinite;
    margin: 3rem auto;
}

@keyframes loading {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

.topMainDiv {
    width: 90%;
    box-sizing: border-box;
    padding: 0 1rem;
    max-width: 1300px;
    height: 150px;
    margin: 1rem auto 2rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-primary-light);
    border-radius: 20px;
}

.topMainBlockDetail P {
    font-size: 16px;
    margin-bottom: 1rem;
    color: var(--color-gray-dark);
    font-weight: 600;

}

.topMainBlockDetail h2 {
    color: white;
    font-size: 30px;
    font-weight: 800;
    letter-spacing: 8px;
}

.mainBlockDetail {
    margin: 0 1rem;
    display: flex;
    flex-direction: row;
}

/* .mainBlockDetail h3 {
    margin-left: .5rem;
    font-size: 18px;
    font-weight: 500;
} */

.mainBlockDetail button {
    padding: .5rem .8rem;
    margin-right:.7rem;
    text-align: center;
    border-radius: 20px;
    border: 0;
    background-color: white;
    color: var(--color-gray-dark);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    transition: .2s;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    flex: 0 0 auto;
}

.mainBlockDetail button span {
    width: 20px;
    height: 20px;
    margin-left: 5px;
}

.mainBlockDetail button:hover {
    color: var(--color-gray);
}

.mainBlockDetail button:focus {
    background-color: var(--color-primary-light);
    color: white;
    border: 0;
    outline: 0;
}

.categorySort {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 1rem;
    width: 100%;
}

.category {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-x: auto;
    width: 100%;
}

.category :first-child {
    margin-left: 1rem;
}

.category::-webkit-scrollbar { 
    display: none;
}

.fadeLeft {
    background-image: linear-gradient(270deg,hsla(0,0%,100%,0),#F2F2F2 90%);
    height: 75px;
    left: 15px;
    position: absolute;
    width: 30px;
    z-index: 1;
}

.fadeRight {
    background-image: linear-gradient(90deg,hsla(0,0%,100%,0),#F2F2F2 90%);
    height: 75px;
    position: absolute;
    right: 15px;
    width: 30px;
    z-index: 1;
}

.sort {
    margin-top: 1rem;
    display: flex;
    justify-content: flex-end;
    padding-left: 1rem;

}

.sortwrapper {
    display: none;
    transition: .2s;
}

.sortwrapperActive {
    position: absolute;
    background-color: var(--color-primary-light);
    color: white;
    width: 13rem;
    left: 0;
    top: 2.7rem;
    border-radius: 20px;
    z-index: 10;
    display: block;
    transition: .2s;
    overflow: hidden;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    
}

.sortwrapperActive ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.sortwrapperActive ul li {
    cursor: pointer;
    width: 100%;
    padding: .5rem 0;
}

.sortwrapperActive ul li:hover {
    background-color: var(--color-primary);
}

.sortwrapperActive ul :not(:last-child) {
    border-bottom: 1px solid var(--color-gray-light);
}


@media screen and (min-width : 1024px) {
    .mainBlockDetail {
        margin: 0 auto;
        display: flex;
        width: 95%;
        overflow: unset;
    }

    .topMainDiv {
        width: 95%;
        height: 200px;
    }

    .topMainDiv p {
        font-size: 20px;
    }

    .topMainDiv h2 {
        font-size: 60px;
    }

    .categorySort {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        overflow: visible;
    }

    .category {
        display: flex;
        justify-content: flex-start;
    }

    .sort {
        margin-top: unset;
        width: 200px;
    }

    .sortwrapperActive {
    right: 0;
    left: unset;

    }

    .mainBlockDetail button {
        font-size: 14px;
        padding: .5rem 1rem;
    }
}

