.container {
    margin: 1rem;
    width: 700px;
    height: 175px;
    display: flex;
    flex-direction: row;
    background-color: var(--color-white);
    border-radius: 15px;
    justify-content: space-between;
    align-items: center;
    transition: .1s;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    outline: 0;
}

.container:hover {
    outline: 3px solid var(--color-secondary);
    transition: .1s;
}

.image img {
    width: 100px;
    margin-left: 2rem;
}

.btn {
    width:30px;
    height:25px;
    margin: 0 5px;
    border-radius: 8px;
    border: 0;
    color : white ;
    background-color: var(--color-secondary);
    transition: .2s;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    line-height: 25px;
    text-align: center;
	font-family: 'Baloo 2', cursive;
    
}

.btn2{
    width:30px;
    height:25px;
    margin: 0 2rem 0 5px;
    border-radius: 8px;
    border: 0;
    color : white ;
    background-color: var(--color-secondary);
    transition: .2s;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    line-height: 25px;
    text-align: center;
	font-family: 'Baloo 2', cursive;
    
}

.btn:hover , .btn2:hover {
    background-color: var(--color-primary);
    color: #0f0f0f;
}

.remove {
    font-size: 16px !important;
}