.container {
    margin: 1rem;
    width: 250px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:flex-start;
    font-size: 18px;
    background-color: var(--color-white);
    padding: 1.5rem 2rem;
    padding-left: 3rem;
    border-radius: 20px;
    transition: .2s;
    /* box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px; */
    outline: 0;
    margin: .5rem;
}

.containerDetails {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    align-items: center;
}

.image img {
    width: 70px;
    height: 80px;
    margin-right: 1rem;
    margin-bottom: .5rem;
}

.productDetail {
    height: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.price {
    font-weight: 600;

}

.quantity {
    font-weight: 500;
    width: 1.4rem;
    height: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-secondary);
    color: white;
    font-size: 13px;
    border-radius: 8px;
    text-align: center;
}

.containerButtons {
    display: flex;
    width: 7rem;
    justify-content: space-between;
    align-items: center;
}

.btn {
    display: flex;
    border: 0;
    color: white;
    transition: .2s;
    cursor: pointer;
    text-align: center;
    font-family: 'Baloo 2', cursive;
    background-color: rgb(255, 255, 255);
}

@media screen and (min-width : 1024px) {
    .container{
    width: 450px;
    height: 130px;
    flex-direction: row;
    align-items: center;


    }

    .image img {
        width: 100px;
        height: 120px;
        margin-right: 2rem;
        align-items: center;
    }
}