.container {
    margin: 1rem;
    width: 700px;
    height: 175px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    font-size: 18px;
    background-color: var(--color-white);
    /* border: 3px solid var(--color-gray); */
    border-radius: 20px;
    justify-content: space-between;
    align-items: center;
    transition: .2s;
    /* box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px; */
    outline: 0;
}

.containerDetails {
    display: flex;
    justify-content: space-between;
    width: 190px;
    align-items: center;
}

.image img {
    width: 100px;
    margin-left: 2rem;
}

.productDetail {
    height: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.price {
    font-weight: 600;

}

.quantity {
    font-weight: 500;
    width: 1.7rem;
    height: 1.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-secondary);
    color: white;
    font-size: 15px;
    border-radius: 8px;
    text-align: center;
}

.containerButtons {
    display: flex;
    width: 5rem;
    justify-content: space-between;
}

.btn {
    display: flex;
    border: 0;
    color: white;
    transition: .2s;
    cursor: pointer;
    text-align: center;
    font-family: 'Baloo 2', cursive;
    background-color: rgb(255, 255, 255);
}