.container {
    width: 375px;
    height: 200px;
    background-color: white;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    font-size: 20px;
    justify-content: space-evenly;
    padding-left: 3rem;
    color: var(--color-gray);
    border-radius: 20px;
}

.container h2 span {
    color : var(--color-secondary);
    font-weight: 600;
}

.btn {
    border: 0;
    background-color: var(--color-secondary-light);
    color : var(--color-white) ;
    border-radius: 20px;
    padding: .3rem .8rem;
    transition: .2s;
    cursor: pointer;
    font-family: 'Noto Sans Oriya', sans-serif;
    font-size: 14px;
    font-weight: 600;
}

.btnClear {
    background-color: var(--color-gray);
    color: var(--color-white);
    margin-right: 1rem;
}

.btn:hover {
    background-color: var(--color-secondary);
}

.btnClear:hover {
    background-color: var(--color-gray-dark);
}