.container {
    width: 260px;
    height: 120px;
    background-color: white;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
    font-size: 16px;
    justify-content: space-evenly;
    color: var(--color-gray);
    border-radius: 20px;
}

.container h2 span {
    color : var(--color-primary);
    font-weight: 600;
}

.btn {
    border: 0;
    background-color: var(--color-primary-light);
    color :white ;
    border-radius: 20px;
    padding: .3rem .8rem;
    transition: .2s;
    cursor: pointer;
    font-family: 'Noto Sans Oriya', sans-serif;
    font-size: 13px;
    font-weight: 600;
}

.btnClear {
    background-color: var(--color-gray);
    color: white;
    margin-right: 1rem;
}

.btn:hover {
    background-color: var(--color-primary);
}

.btnClear:hover {
    background-color: var(--color-gray-dark);
}

@media screen and (min-width : 1024px) {
    .container {
        width: 360px;
        height: 180px;
    font-size: 18px;

    }

    .btn {
        font-size: 16px;
    }
}